<link rel="stylesheet" href="~/css/ElementosHtml/FiltroVeiculo/filtroVeiculo.css" asp-append-version="true" />

<div class="divBtnPai">
    <div class="divBtn">
        <button id="btnCarro" class="btn" onclick="SelecionarVeiculo({caracteristica: 'carros'}, id)">Carro</button>
        <button id="btnMoto" class="btn" onclick="SelecionarVeiculo({caracteristica: 'motos'}, id)">Moto</button>
        <button id="btnCaminhao" class="btn" onclick="SelecionarVeiculo({caracteristica: 'camihoes'}, id)">Caminhão</button>
    </div>
</div>