@model List<SistemaTabelaFipe.Models.Models.DadosVeiculo>

<select id="selectAnoModelo">
    <option value="" disabled selected>Ano Modelo</option>
    @foreach (var lin in Model)
    {
        <option value="@lin.Codigo">@lin.Nome</option>
    }
</select>