html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    /*font-family: Bahnschrift;*/
    font-family: Arial;
    /*    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*font-family: cursive;*/
}


.divPainelPai {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    display: flex;
    justify-content: center
}

.divPainel {
    position: absolute;
    width: 100%;
    height: 7%;
    background-color: #5252C1;
    display: flex;   
}

.divEmpresa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

    .divEmpresa a {
        font-family: cursive;
        font-size: 30px;
        font-weight: bold;
        color: white;
        margin-left: 2%;
        cursor: pointer;
    }

    .divEmpresa label {
        cursor: pointer;
    }

.divOpcoesPainelPai {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;   
}

.divOpcoesPainel {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;       
}

.divLabelComprar label {
    cursor: pointer;
}

    .divFiltroVeiculoPai {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.divLabel {
    width: 100%;
    text-align: center;
}

    .divLabel h2 {
        font-weight: bold;
        font-size: 40px;
    }

    .divLabel label {
        font-weight: bold;
        font-size: 20px;
    }

.divFiltroVeiculo {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 40%;
}

.divLabelFiltroVeiculo {
    font-size: 18px;
    font-weight: bold;
    color: #5252C1;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divOpcoesPai {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.divOpcoes {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    .divOpcoes select {
        width: 90%;
        height: 38%;
        padding: 10px;
        font-size: 16px;
        font-family: Bahnschrift;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.divBtnPesquisar {
    display: flex;
    justify-content: center;
}

    .divBtnPesquisar button {
        background-color: #5252C1;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: bold;
        border-radius: 10px;
        width: 20%;
        height: 40px;
    }

/*body {
    background-image: url("https://i.imgur.com/dZ9BNJ8.jpg");
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(20px);
}*/

/*.divPainelPai {
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPainel {
    font-size: 20px;
    border-radius: 100px;
    width: 40%;
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #ffffff40;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.divOptionButtonPai {
    width: 100%;
    height: auto;
    font-size: 20px;
    border: 2px outset black;  
    cursor: pointer;
}

.divOptionButton {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

a {
    color: #000;
    text-decoration: none;
}

i {
    font-size: 40px;
}

a i {
    font-size: 80px;
}

#divMaisOptionNone {
    display: none;
}

.divMaisOption {
    height: auto;
    padding: 10px;
}

.divOption {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divOptionLabel {
    display: flex;
}

#selectContainer {
    position: relative;
}

#searchInput {
    position: absolute;
    top: 0;
    left: 0;
}

.divOption select {
    width: 100%;
    height: 40px;   
}

.divBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .divBtn button {
        outline: none;
        border-radius: 4px;
        border: none;
        background-color: limegreen;
        color: white;
        font-weight: 600;
        font-size: 18px;
        margin: 0 !important;
        width: 40%;
        height: 40px;
    }

        .divBtn button:focus {
            border: 2px solid white;
        }
*/
