@{
    ViewData["Title"] = "Home Page";
}

<div class="divPainelPai">
    <div class="divPainel">

        <div class="divOptionButtonPai">
            <div class="divOptionButton">
                <a href="#">
                    <i class='bx bxs-car'></i>
                </a>
                CONSULTA DE CARROS
                <i class="bx bx-chevron-down" id="SetaCarro" onclick="MaisOption(id,'carros')"></i>
            </div>
            <div class="divMaisOption" id="divMaisOption-carros"></div>
        </div>

        <br />
        <div class="divOptionButtonPai">
            <div class="divOptionButton">
                <a href="#">
                    <i class='bx bx-cycling'></i>
                </a>
                CONSULTA DE MOTOS
                <i class="bx bx-chevron-down" id="SetaMoto" onclick="MaisOption(id,'motos')"></i>
            </div>
            <div class="divMaisOption" id="divMaisOption-motos"></div>
        </div>

        <br />
        <div class="divOptionButtonPai">
            <div class="divOptionButton">
                <a href="#">
                    <i class='bx bxs-truck'></i>
                </a>
                CONSULTA DE CAMINHÕES
                <i class="bx bx-chevron-down" id="SetaCaminhao" onclick="MaisOption(id,'caminhoes')"></i>
            </div>
            <div class="divMaisOption" id="divMaisOption-caminhoes"></div>
        </div>
    </div>
</div>

<div id="divMaisOptionNone">
    <hr />
    <h2>Selecione as Opções</h2>

    <br />
    <div class="divOption">
        <div class="divOptionLabel">
            <label>Marca</label>
        </div>

        <select id="selectMarca">
            <option value="" disabled selected></option>
        </select>
    </div>

    <br />
    <div class="divOption">
        <div class="divOptionLabel">
            <label>Modelo</label>
        </div>

        <select id="selectModelo">
            <option value="" disabled selected></option>
        </select>
    </div>

    <br />
    <div class="divOption">
        <div class="divOptionLabel">
            <label>Ano Modelo</label>
        </div>
    
        <select id="selectAnoModelo">
            <option value="" disabled selected></option>
        </select>
    </div>

    <br />
    <div class="divBtn">
        <button id="btnPesquisar">Pesquisar</button>
    </div>
</div>

<div class="modal fade" id="ModalResultadoTabelaFipe" tabindex="-1" aria-labelledby="modalExemploLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExemploLabel">Tabela Fipe</h5>
            </div>
            <div class="modal-body">
                <div id="tabelaFipe"></div>
            </div>
        </div>
    </div>
</div>
